In [1]:
import pandas as pd
import numpy as np
from collections import Counter
data = pd.read_csv('data/data.csv')
#data = pd.DataFrame.from_csv('data/data.csv')

## Get Id's where Age is 0

In [2]:
zeroAge = data[data['Age'] == 0].index.tolist()

In [3]:
runnerId = [data.iloc[x]['Id'] for x in zeroAge]

In [4]:
for n in runnerId:
    print data[data['Id'] == n]

      Id  Age  Rank  Year   Time  Pace  Sex
488  308   45  1204  2016  15137   578    0
489  308    0  1357  2014  15975   609    0
        Id  Age  Rank  Year   Time  Pace  Sex
2041  1229   48  2717  2009  22803   870    1
2042  1229   47  2414  2008  20344   776    1
2043  1229   53  3194  2014  21215   809    1
2044  1229   46  2054  2007  19896   759    1
2045  1229   51  3870  2012  23302   889    1
2046  1229    0  3332  2011  20990   801    1
2047  1229   50  2208  2006  21090   804    1
2048  1229   50  3482  2011  22896   873    1
2049  1229   49  2811  2010  23191   885    1
2050  1229   44  1566  2005  19757   754    1
2051  1229   55  2783  2016  20941   800    1
2052  1229   50  2748  2015  25435   970    1
         Id  Age  Rank  Year   Time  Pace  Sex
10743  6491   43   217  2006  12496   476    1
10744  6491   50   396  2015  13172   502    1
10745  6491    0   264  2012  12452   475    1
10746  6491   42    84  2005  11596   442    1
         Id  Age  Rank  Year   Time  Pace  Sex
13064  8250   47   501  2009  13384   510    1
13065  8250    0   282  2006  12790   488    1
13066  8250   45   196  2007  12790   488    1
13067  8250   46   278  2008  12690   484    1
          Id  Age  Rank  Year   Time  Pace  Sex
23763  16673    0  2692  2010  21413   817    1
          Id  Age  Rank  Year   Time  Pace  Sex
24098  16954    0  2591  2010  20529   783    1
          Id  Age  Rank  Year   Time  Pace  Sex
24231  17070    0  2041  2011  16397   625    1
24232  17070   30  1589  2010  16739   638    1
          Id  Age  Rank  Year   Time  Pace  Sex
25247  17902    0  3344  2011  21135   806    1
          Id  Age  Rank  Year   Time  Pace  Sex
25596  18202    0  1402  2011  15040   574    0
          Id  Age  Rank  Year  Time  Pace  Sex
30993  22942    0  2877  2013  7167   547    1
          Id  Age  Rank  Year  Time  Pace  Sex
31813  23714    0  2228  2013  6949   530    1
31814  23714    0  2363  2013  7003   534    1
31815  23714    0  1877  2013  6816   520    1
31816  23714    0  1289  2013  6547   499    1
31817  23714    0  2194  2013  6934   529    1
31818  23714    0    64  2013  5132   391    1
          Id  Age  Rank  Year  Time  Pace  Sex
31813  23714    0  2228  2013  6949   530    1
31814  23714    0  2363  2013  7003   534    1
31815  23714    0  1877  2013  6816   520    1
31816  23714    0  1289  2013  6547   499    1
31817  23714    0  2194  2013  6934   529    1
31818  23714    0    64  2013  5132   391    1
          Id  Age  Rank  Year  Time  Pace  Sex
31813  23714    0  2228  2013  6949   530    1
31814  23714    0  2363  2013  7003   534    1
31815  23714    0  1877  2013  6816   520    1
31816  23714    0  1289  2013  6547   499    1
31817  23714    0  2194  2013  6934   529    1
31818  23714    0    64  2013  5132   391    1
          Id  Age  Rank  Year  Time  Pace  Sex
31813  23714    0  2228  2013  6949   530    1
31814  23714    0  2363  2013  7003   534    1
31815  23714    0  1877  2013  6816   520    1
31816  23714    0  1289  2013  6547   499    1
31817  23714    0  2194  2013  6934   529    1
31818  23714    0    64  2013  5132   391    1
          Id  Age  Rank  Year  Time  Pace  Sex
31813  23714    0  2228  2013  6949   530    1
31814  23714    0  2363  2013  7003   534    1
31815  23714    0  1877  2013  6816   520    1
31816  23714    0  1289  2013  6547   499    1
31817  23714    0  2194  2013  6934   529    1
31818  23714    0    64  2013  5132   391    1
          Id  Age  Rank  Year  Time  Pace  Sex
31813  23714    0  2228  2013  6949   530    1
31814  23714    0  2363  2013  7003   534    1
31815  23714    0  1877  2013  6816   520    1
31816  23714    0  1289  2013  6547   499    1
31817  23714    0  2194  2013  6934   529    1
31818  23714    0    64  2013  5132   391    1
          Id  Age  Rank  Year   Time  Pace  Sex
34509  26270    0  2464  2014  18543   707    0
34510  26270    0  2898  2014  19983   762    0
34511  26270    0  2877  2014  19892   759    0
34512  26270    0  2186  2014  17765   678    0
          Id  Age  Rank  Year   Time  Pace  Sex
34509  26270    0  2464  2014  18543   707    0
34510  26270    0  2898  2014  19983   762    0
34511  26270    0  2877  2014  19892   759    0
34512  26270    0  2186  2014  17765   678    0
          Id  Age  Rank  Year   Time  Pace  Sex
34509  26270    0  2464  2014  18543   707    0
34510  26270    0  2898  2014  19983   762    0
34511  26270    0  2877  2014  19892   759    0
34512  26270    0  2186  2014  17765   678    0
          Id  Age  Rank  Year   Time  Pace  Sex
34509  26270    0  2464  2014  18543   707    0
34510  26270    0  2898  2014  19983   762    0
34511  26270    0  2877  2014  19892   759    0
34512  26270    0  2186  2014  17765   678    0

The following runner id's represent instances where the age is unknown, but the id only appears once, therefore age cannot be corrected: [16673,16954,17902,18202,22942]. To deal with these, the unknown age of the id was set to the average age of all runners who ranked within a range of +/- 50 of the runner in that particular year.

In [5]:
def correctSingleInstanceAge(runnerId,data):
    rank = int(data[data['Id'] == runnerId]['Rank'])
    year = int(data[data['Id'] == runnerId]['Year'])
    rangeOfRunners = data[(data['Rank']>rank-50) & (data['Rank']<rank+50)& (data['Year'] == year)]
    avgAge = rangeOfRunners['Age'].sum()/rangeOfRunners['Age'].size

    index = data[data['Id']==runnerId].index
    data.set_value(index, 'Age', avgAge)
    return

In [6]:
ageCorrectionRunnerIds = [16673,16954,17902,18202,22942]
for n in ageCorrectionRunnerIds:
    correctSingleInstanceAge(n,data)

Runner id's [23714,26270] represent unknown identities, despite clearly being different people that ran in the same year. This represents 6 people in 2013 and 4 people in 2014.

In [7]:
zeroAge = data[(data['Age'] == 0)&(data['Id'] != 26270) &(data['Id'] != 23714) ].index.tolist()
runnerId = [data.iloc[x]['Id'] for x in zeroAge]
for i in runnerId:
    print data[data['Id'] == i].sort_values(by='Year')

      Id  Age  Rank  Year   Time  Pace  Sex
489  308    0  1357  2014  15975   609    0
488  308   45  1204  2016  15137   578    0
        Id  Age  Rank  Year   Time  Pace  Sex
2050  1229   44  1566  2005  19757   754    1
2047  1229   50  2208  2006  21090   804    1
2044  1229   46  2054  2007  19896   759    1
2042  1229   47  2414  2008  20344   776    1
2041  1229   48  2717  2009  22803   870    1
2049  1229   49  2811  2010  23191   885    1
2046  1229    0  3332  2011  20990   801    1
2048  1229   50  3482  2011  22896   873    1
2045  1229   51  3870  2012  23302   889    1
2043  1229   53  3194  2014  21215   809    1
2052  1229   50  2748  2015  25435   970    1
2051  1229   55  2783  2016  20941   800    1
         Id  Age  Rank  Year   Time  Pace  Sex
10746  6491   42    84  2005  11596   442    1
10743  6491   43   217  2006  12496   476    1
10745  6491    0   264  2012  12452   475    1
10744  6491   50   396  2015  13172   502    1
         Id  Age  Rank  Year   Time  Pace  Sex
13065  8250    0   282  2006  12790   488    1
13066  8250   45   196  2007  12790   488    1
13067  8250   46   278  2008  12690   484    1
13064  8250   47   501  2009  13384   510    1
          Id  Age  Rank  Year   Time  Pace  Sex
24232  17070   30  1589  2010  16739   638    1
24231  17070    0  2041  2011  16397   625    1

For the remaining runner Ids, the participant ran in at least one other year where the age information is recorded. By taking the difference in the years, this offset is added to the recorded age.

In [8]:
def offsetAge(idRecorded,idError,data):
    ageRecorded = data.loc[idRecorded]['Age']
    yearRecorded = data.loc[idRecorded]['Year']
    yearError = data.loc[idError]['Year']
    offset = yearError - yearRecorded
    data.set_value(idError, 'Age', ageRecorded+offset)
    return

In [9]:
offsetAge(488,489,data)
offsetAge(2049,2046,data)
offsetAge(10743,10745,data)
offsetAge(13066,13065,data)
offsetAge(24232,24231,data)

In [10]:
data[(data['Id'] != 23714) & (data['Id'] != 26270) & (data['Age']==0)]

Empty DataFrame
Columns: [Id, Age, Rank, Year, Time, Pace, Sex]
Index: []

## Smallest Age

In [11]:
data[(data['Id'] != 23714) & (data['Id'] != 26270)]['Age'].min()

9

In [12]:
data[data['Age']==9]

          Id  Age  Rank  Year  Time  Pace  Sex
31786  23689    9  2339  2013  6994   533    1

In [13]:
data[data['Id']==23689]

          Id  Age  Rank  Year  Time  Pace  Sex
31786  23689    9  2339  2013  6994   533    1
31787  23689   45  2339  2013  6994   533    1

Participants ran in the same year with the same id/time/pace/sex. Id 31786 can be perceived as an error and eliminated.

In [14]:
data = data.drop([31786])

In [15]:
data[(data['Id'] != 23714) & (data['Id'] != 26270)]['Age'].min()

10

# Minimum age of Miami Marathon is 11. Check outliers

For the rows with age == 10, these runners do not run in any other years. Simply remove these data points and consider them as outliers.

In [16]:
ageoutliers = data[data['Age']==10].index.tolist()

In [17]:
ageRunnerID = []
for ageID in ageoutliers:
    ageRunnerID.append(data.loc[ageID]['Id'])

for agerunnerid in ageRunnerID:
    print data[data['Id']==agerunnerid]

for ageID in ageoutliers:
    data = data.drop(ageID)

         Id  Age  Rank  Year   Time  Pace  Sex
12096  7493   10   817  2006  14788   564    1
          Id  Age  Rank  Year   Time  Pace  Sex
24513  17305   10   500  2010  13841   528    1

## Age distribution

In [18]:
ages = data['Age']
ageCount = Counter(ages)
ageCount

Counter({0: 10,
         12: 3,
         13: 3,
         14: 4,
         15: 77,
         16: 61,
         17: 92,
         18: 91,
         19: 109,
         20: 409,
         21: 252,
         22: 324,
         23: 456,
         24: 608,
         25: 1373,
         26: 771,
         27: 779,
         28: 906,
         29: 1026,
         30: 1883,
         31: 1109,
         32: 1108,
         33: 1125,
         34: 1159,
         35: 2278,
         36: 1233,
         37: 1203,
         38: 1214,
         39: 1344,
         40: 2422,
         41: 1166,
         42: 1170,
         43: 1085,
         44: 1054,
         45: 1791,
         46: 945,
         47: 796,
         48: 775,
         49: 730,
         50: 1272,
         51: 558,
         52: 505,
         53: 462,
         54: 365,
         55: 593,
         56: 259,
         57: 263,
         58: 230,
         59: 204,
         60: 295,
         61: 141,
         62: 138,
         63: 106,
         64: 83,
         65: 95,
         66: 47,
         67: 40,
         68: 32,
         69: 24,
         70: 47,
         71: 21,
         72: 15,
         73: 16,
         74: 10,
         75: 16,
         76: 3,
         77: 5,
         78: 2,
         79: 2,
         80: 1,
         81: 3,
         82: 1,
         84: 1,
         98: 2})

In [19]:
ageoutliers = data[data['Age']==15].index.tolist()
ageRunnerID = []
for ageID in ageoutliers:
    ageRunnerID.append(data.loc[ageID]['Id'])

for agerunnerid in ageRunnerID:
    if(data[data['Id']==agerunnerid]['Age'].size>1):
        print data[data['Id']==agerunnerid]

#for ageID in ageoutliers:
#    data = data.drop(ageID)

      Id  Age  Rank  Year   Time  Pace  Sex
457  287   20  2932  2016  22658   865    1
458  287   15  2011  2015  17820   680    1
        Id  Age  Rank  Year   Time  Pace  Sex
1759  1066   15  1409  2015  15926   607    1
1760  1066   15  2467  2016  19108   730    1
        Id  Age  Rank  Year   Time  Pace  Sex
1759  1066   15  1409  2015  15926   607    1
1760  1066   15  2467  2016  19108   730    1
        Id  Age  Rank  Year   Time  Pace  Sex
2831  1703   15  2324  2015  19430   741    1
2832  1703   40   505  2010  13855   528    1
2833  1703   35   987  2016  14534   555    1
2834  1703   18  2967  2014  20175   770    1
        Id  Age  Rank  Year   Time  Pace  Sex
3143  1918   40  2193  2015  18780   716    0
3144  1918   15  2517  2016  19324   738    0
          Id  Age  Rank  Year   Time  Pace  Sex
19494  13321   15  1925  2010  17646   673    1
19495  13321   16  2433  2011  17275   659    1
19496  13321   14  2555  2009  20692   789    1
          Id  Age  Rank  Year   Time  Pace  Sex
23660  16596   46  2165  2012  16704   637    1
23661  16596   15    58  2015  11253   429    1
23662  16596   41   714  2013   6171   471    1
23663  16596   48  2489  2014  18618   710    1
23664  16596   45  2225  2011  16794   641    1
23665  16596   44  2211  2010  18655   712    1
          Id  Age  Rank  Year   Time  Pace  Sex
33296  25113   17   406  2013   5875   448    1
33297  25113   15   355  2015  13073   498    1
          Id  Age  Rank  Year   Time  Pace  Sex
34355  26123   15  2332  2015  19492   743    1
34356  26123   17  2703  2014  19331   737    1
          Id  Age  Rank  Year   Time  Pace  Sex
34914  26647   15  1597  2015  16395   625    1
34915  26647   15  2483  2014  18597   709    1
          Id  Age  Rank  Year   Time  Pace  Sex
34914  26647   15  1597  2015  16395   625    1
34915  26647   15  2483  2014  18597   709    1
          Id  Age  Rank  Year   Time  Pace  Sex
35118  26840   15  1508  2015  16189   617    0
35119  26840   16  2292  2014  18018   687    0
          Id  Age  Rank  Year   Time  Pace  Sex
35512  27204   15  1165  2015  15281   583    1
35513  27204   16  3320  2014  21916   836    1

# *** NEED TO FIX AGES ?? ***

## Force Ages to increments of 5

In [20]:
for i in range (data['Age'].size):
    data.iloc[i]['Age'] = data.iloc[i]['Age'] - data.iloc[i]['Age']%5

In [21]:
data[(data['Id'] != 23714) & (data['Id'] != 26270)]['Age'].min()

10

## Add weather data
Temperature in deg. C at 6:53 or 6:59 AM

In [22]:
temp = {
    '2003':10.6,
    '2004':20.6,
    '2005':18.9,
    '2006':21.1,
    '2007':22.2,
    '2008':17.8,
    '2009':14.4,
    '2010':21.7,
    '2011':11.1,
    '2012':20.6,
    '2013':19.4,
    '2014':22.8,
    '2015':11.7,
    '2016':12.2
}

In [23]:
data['Temp'] = 0.

In [24]:
for i in data.index.tolist():
    year = str(int(data.loc[i]['Year']))
    data.set_value(i,'Temp',temp[year])

## 2013 Projections using Riegel's formula
http://cs229.stanford.edu/proj2015/247_report.pdf

In [25]:
def fullMarathonTime(halfMarathonTime,data):
    return np.round(halfMarathonTime*((26.219/13.095)**1.06))

In [26]:
halfMarathonId = data[data['Year']==2013].index.tolist()
data['halfMarathonTime'] = np.NaN

#### Recalculate Pace of 2013 rows using Full Marathon Time

In [27]:
for i in halfMarathonId:
    halftime = data.loc[i]['Time']
    data.set_value(i,'halfMarathonTime',halftime)
    fulltime = int(fullMarathonTime(halftime,data))
    data.set_value(i,'Time',fulltime)

    data.set_value(i,'Pace',fulltime/26.219)

## Remove instances of same ID, same year, multiple records
errRunnerIds1 for instances where >2 rows in a given year correspond to the same runner
errRunnerIds2 for instances where 2 rows in a given year correspond to the same runner

In [28]:
runnerIds = set(data['Id'].tolist())

errRunnerIds1 = []
errRunnerIds2 = []
for rid in runnerIds:
    runnerData = data[data['Id']==rid]
    
    if(runnerData['Age'].size > 1):
        yearCount = Counter(runnerData['Year'])
        #print yearCount
        if max(yearCount.values()) > 2:
            errRunnerIds1.append(rid)
        elif max(yearCount.values()) == 2:
            errRunnerIds2.append(rid)

In [30]:
errRunnerIds1

[3327, 6291, 10828, 23068, 23714, 23832, 24624, 26270]

In [31]:
for err in errRunnerIds1:
    if err not in [3327,23714,26270]:
        print data[data['Id']==err].ix[:, data.columns != 'halfMarathonTime'].sort_values(by='Year')

         Id  Age  Rank  Year   Time  Pace  Sex  Temp
10482  6291   40   765  2005  15112   576    1  18.9
10484  6291   60   866  2005  15522   592    1  18.9
10486  6291   35   139  2005  12229   466    1  18.9
10483  6291   40   489  2006  13662   521    1  21.1
10485  6291   40  2707  2013  14852   566    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
16383  10828   25  2105  2007  20192   770    1  22.2
16379  10828   30  1423  2012  15310   584    1  20.6
16382  10828   40  3178  2012  19213   733    1  20.6
16385  10828   35  1785  2012  15971   609    1  20.6
16380  10828   30  2365  2013  14620   557    1  19.4
16381  10828   40   234  2013  11773   449    1  19.4
16384  10828   25  3048  2013  15058   574    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
31128  23068   45  2851  2013  14946   570    1  19.4
31129  23068   40  1802  2013  14161   540    1  19.4
31130  23068   35  1649  2013  14013   534    1  19.4
31127  23068   40  2591  2014  18978   724    1  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
31939  23832   20   523  2013  12535   478    1  19.4
31940  23832   35   469  2013  12401   472    1  19.4
31941  23832   35   157  2013  11401   434    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
32779  24624   55  1183  2013  13553   516    1  19.4
32780  24624   40  1598  2013  13948   531    1  19.4
32781  24624   35  3473  2013  15317   584    1  19.4
32778  24624   55  2066  2015  17981   686    1  11.7

# *** MUST CORRECT ***
## *** errRunnerIds1 contains 8 id's, which each have >2 repetitions per id in a given year. The id's [3327,23714,26270] are all for 'private' or 'unknown' runners, therefore these can be disregarded. Still need to write a script to correct the other 5***

In [29]:
len(errRunnerIds2)

101

In [30]:
count = 0
for err in errRunnerIds2:
    if (data[data['Id']==err]['Age'].size== 2):
        count += 2
        print data[data['Id']==err].ix[:, data.columns != 'halfMarathonTime']
        data = data.drop(data[data['Id']==err].index)
        errRunnerIds2.remove(err)
count

    Id  Age  Rank  Year   Time  Pace  Sex  Temp
26  12   20   954  2016  14443   552    0  12.2
27  12   30   588  2016  13575   519    0  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2372  1436   25  2777  2016  20907   798    1  12.2
2373  1436   30  2403  2016  18883   721    1  12.2
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
10059  5985   20  1430  2005  18338   699    1  18.9
10060  5985   45  1194  2005  16965   647    1  18.9
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
11886  7319   40  1026  2006  15510   591    0  21.1
11887  7319   40  1030  2006  15524   592    0  21.1
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
13483  8588   20  1786  2006  18341   700    0  21.1
13484  8588   35   680  2006  14319   546    1  21.1
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
14401  9308   15  1079  2007  16024   611    1  22.2
14402  9308   60  1928  2007  19176   731    1  22.2
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
14538  9421   55    68  2007  11859   452    1  22.2
14539  9421   25   822  2007  15257   582    1  22.2
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
15539  10183   30  1149  2007  16227   619    1  22.2
15540  10183   45  1447  2007  17129   653    1  22.2
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
15792  10383   30  2162  2007  20495   782    1  22.2
15793  10383   35  1883  2007  18976   724    1  22.2
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
16924  11265   30  2144  2008  18672   712    1  17.8
16925  11265   35  2142  2008  18661   712    1  17.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
19305  13180   50  1113  2008  15303   584    1  17.8
19306  13180   35   341  2008  12981   495    1  17.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
20702  14252   20  1605  2009  16524   630    1  14.4
20703  14252   50   881  2009  14455   551    1  14.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
22748  15866   50  1189  2010  15771   601    1  21.7
22749  15866   55   813  2010  14717   561    1  21.7
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
23596  16542   20  1738  2010  17120   653    0  21.7
23597  16542   20  2060  2010  18024   687    0  21.7
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
25076  17759   45  2172  2011  16697   637    1  11.1
25077  17759   30  2381  2011  17136   654    1  11.1
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
25630  18230   35  1183  2011  14503   553    1  11.1
25631  18230   35  2369  2011  17115   653    1  11.1
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
27227  19552   40   762  2011  13702   522    1  11.1
27228  19552   45  2783  2011  18274   697    1  11.1
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
28684  20830   50   659  2012  13730   524    1  20.6
28685  20830   45  1812  2012  16011   611    1  20.6
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
31509  23425   35   780  2013  12986   495    1  19.4
31510  23425   40  2303  2013  14572   555    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
31917  23811   35   176  2013  11545   440    1  19.4
31918  23811   40  3044  2013  15056   574    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
32242  24112   35  1862  2013  14215   542    1  19.4
32243  24112   15  3560  2013  15369   586    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
32864  24706   30  2296  2013  14564   555    1  19.4
32865  24706   25  1217  2013  13589   518    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
35149  26867   45   126  2014  12206   465    1  22.8
35150  26867   40   282  2014  13020   496    1  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
37098  28713   50  1635  2015  16507   630    1  11.7
37099  28713   30  1294  2015  15644   597    1  11.7

48

In [31]:
len(errRunnerIds2)

77

In [32]:
errRunnerIds2

[92,
 195,
 304,
 347,
 470,
 584,
 653,
 929,
 1007,
 1075,
 1168,
 1203,
 1207,
 1229,
 1302,
 1338,
 1470,
 1531,
 1582,
 1666,
 2293,
 2642,
 3391,
 3503,
 3655,
 4142,
 4196,
 4835,
 4937,
 5123,
 5210,
 5315,
 5585,
 6099,
 6857,
 7109,
 7289,
 7506,
 8174,
 9294,
 9370,
 9721,
 10236,
 10638,
 10888,
 11916,
 12244,
 13104,
 13850,
 13944,
 15610,
 15872,
 15970,
 16803,
 17190,
 17499,
 17817,
 17857,
 18403,
 18709,
 18716,
 18740,
 19479,
 20471,
 20754,
 21700,
 21839,
 22059,
 22729,
 22902,
 23632,
 23917,
 23942,
 24205,
 24253,
 24854,
 27165]

There are 24 instances where a given person ran strictly "twice" in the same year, and did not run in any other years. These 48 rows are deleted, since it cannot be concluded that one row is more reliable than another.

# *** MUST CORRECT errRunnerIds2***
## *** There are still 77 id's that have (exactly) 2 of the same runner in the same year. These 77 id's also have data points in other years. These other data points can be used to decide which one of the two redundant rows is deleted. ***

In [35]:
for err in errRunnerIds2:
    print data[data['Id']==err].ix[:, data.columns != 'halfMarathonTime'].sort_values(by='Year')

     Id  Age  Rank  Year   Time  Pace  Sex  Temp
159  92   40  1612  2004  20299   774    1  20.6
156  92   30  1786  2013  14144   539    1  19.4
157  92   25  1731  2013  14086   537    1  19.4
158  92   30  1567  2016  16147   617    1  12.2
      Id  Age  Rank  Year   Time  Pace  Sex  Temp
328  195   55  2796  2014  19626   749    1  22.8
329  195   25  2796  2014  19626   749    1  22.8
330  195   55  1487  2015  16144   616    1  11.7
327  195   60  2865  2016  21776   832    1  12.2
      Id  Age  Rank  Year   Time  Pace  Sex  Temp
482  304   40  2199  2014  17793   679    1  22.8
483  304   50  2993  2014  20265   773    1  22.8
481  304   50  2707  2016  20341   777    1  12.2
      Id  Age  Rank  Year   Time  Pace  Sex  Temp
554  347   50   878  2007  15441   589    1  22.2
561  347   50  1706  2007  18038   688    1  22.2
556  347   50  1119  2010  15579   594    1  21.7
559  347   30  3637  2013  15432   588    1  19.4
558  347   40  1556  2014  16362   624    1  22.8
560  347   40  1548  2015  16272   621    1  11.7
555  347   40  1712  2016  16565   633    1  12.2
557  347   35  1863  2016  16974   648    1  12.2
      Id  Age  Rank  Year   Time  Pace  Sex  Temp
769  470   30  2221  2008  19034   726    1  17.8
768  470   30  2221  2010  18677   712    1  21.7
773  470   30  2525  2011  17563   670    1  11.1
771  470   35  3519  2012  20629   787    1  20.6
770  470   45  3142  2013  15119   576    1  19.4
772  470   35  2800  2016  21060   804    1  12.2
774  470   40   910  2016  14347   548    1  12.2
      Id  Age  Rank  Year   Time  Pace  Sex  Temp
979  584   30   792  2013  13006   496    1  19.4
980  584   35  2099  2013  14409   549    1  19.4
978  584   30  1308  2016  15447   590    1  12.2
       Id  Age  Rank  Year   Time  Pace  Sex  Temp
1086  653   40   596  2013  12687   483    1  19.4
1087  653   30    93  2013  10988   419    1  19.4
1089  653   40   891  2015  14492   553    1  11.7
1088  653   45   583  2016  13565   518    1  12.2
       Id  Age  Rank  Year   Time  Pace  Sex  Temp
1530  929   20  1146  2005  16729   638    1  18.9
1528  929   40   198  2012  12125   462    1  20.6
1529  929   65  3601  2012  21144   807    1  20.6
1527  929   30  2195  2016  17975   687    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
1661  1007   35   910  2006  15128   577    1  21.1
1660  1007   35   808  2008  14338   547    1  17.8
1657  1007   60  2347  2015  19588   747    1  11.7
1658  1007   30   113  2015  11940   455    1  11.7
1659  1007   65  2723  2016  20487   782    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
1779  1075   45  1434  2011  15106   576    1  11.1
1780  1075   25  1648  2011  15577   594    1  11.1
1781  1075   45  1157  2012  14801   564    1  20.6
1782  1075   50  1460  2016  15936   609    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
1931  1168   40   135  2003  12029   459    1  10.6
1933  1168   35   714  2003  15113   576    1  10.6
1939  1168   45  1072  2004  16654   635    1  20.6
1940  1168   30  2222  2008  19036   726    1  17.8
1930  1168   35  1951  2009  17446   665    1  14.4
1929  1168   35   844  2010  14844   566    1  21.7
1934  1168   40  2000  2011  16314   622    1  11.1
1935  1168   45   828  2011  13836   528    1  11.1
1932  1168   45  1871  2012  16103   614    1  20.6
1936  1168   35  3518  2012  20628   787    1  20.6
1937  1168   40  1423  2013  13770   525    1  19.4
1938  1168   35  1625  2016  16314   623    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2002  1203   50  2707  2010  21545   822    0  21.7
2000  1203   50  3725  2012  21909   836    0  20.6
2003  1203   55  2146  2014  17678   674    0  22.8
2004  1203   50  3488  2014  23334   890    0  22.8
2001  1203   55  2648  2015  22519   859    0  11.7
2005  1203   55  2993  2016  23989   916    0  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2009  1207   45  1158  2006  15978   609    1  21.1
2011  1207   45   567  2008  13740   524    1  17.8
2013  1207   50  1833  2010  17392   663    1  21.7
2014  1207   50   822  2010  14745   562    1  21.7
2010  1207   50  3246  2012  19461   742    1  20.6
2012  1207   45  2885  2016  21986   840    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2050  1229   40  1566  2005  19757   754    1  18.9
2047  1229   50  2208  2006  21090   804    1  21.1
2044  1229   45  2054  2007  19896   759    1  22.2
2042  1229   45  2414  2008  20344   776    1  17.8
2041  1229   45  2717  2009  22803   870    1  14.4
2049  1229   45  2811  2010  23191   885    1  21.7
2046  1229   50  3332  2011  20990   801    1  11.1
2048  1229   50  3482  2011  22896   873    1  11.1
2045  1229   50  3870  2012  23302   889    1  20.6
2043  1229   50  3194  2014  21215   809    1  22.8
2052  1229   50  2748  2015  25435   970    1  11.7
2051  1229   55  2783  2016  20941   800    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2168  1302   40  2181  2013  14468   551    1  19.4
2170  1302   55  3407  2013  15282   582    1  19.4
2169  1302   30   215  2014  12688   484    1  22.8
2171  1302   40  2213  2016  18020   688    1  12.2
2172  1302   35  2499  2016  19251   735    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2226  1338   40  1759  2006  18167   693    1  21.1
2222  1338   45  1938  2007  19220   733    1  22.2
2223  1338   45  1908  2008  17685   675    1  17.8
2220  1338   45  2070  2009  17919   683    1  14.4
2221  1338   45  3030  2011  19157   731    1  11.1
2228  1338   50  2665  2012  17849   681    1  20.6
2224  1338   50  2769  2014  19556   746    1  22.8
2225  1338   50  1617  2015  16467   628    1  11.7
2219  1338   30   796  2016  14112   539    1  12.2
2227  1338   50  2139  2016  17787   679    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2439  1470   35   688  2003  14951   570    1  10.6
2437  1470   50  2332  2009  19211   733    1  14.4
2438  1470   45  2001  2010  17867   681    1  21.7
2441  1470   35    83  2010  11579   441    1  21.7
2440  1470   40   977  2016  14508   554    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2553  1531   40   683  2008  14017   535    1  17.8
2555  1531   25  1537  2008  16496   629    1  17.8
2556  1531   40   925  2009  14599   557    1  14.4
2554  1531   60  2971  2016  23460   896    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2620  1582   45  1720  2013  14077   536    1  19.4
2621  1582   20   976  2013  13286   506    1  19.4
2622  1582   50   194  2016  12180   465    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
2782  1666   35  3086  2012  18964   723    1  20.6
2778  1666   30   253  2014  12898   492    1  22.8
2779  1666   40  2310  2014  18077   689    1  22.8
2781  1666   40  1927  2015  17549   669    1  11.7
2780  1666   40  1636  2016  16351   625    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
3738  2293   35  3778  2013  15522   592    0  19.4
3740  2293   30  1666  2013  14029   535    0  19.4
3737  2293   25  1165  2014  15501   591    0  22.8
3739  2293   25   923  2014  14920   569    0  22.8
3741  2293   40  1180  2016  15082   576    0  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
4300  2642   20   193  2012  12105   462    1  20.6
4301  2642   45  1778  2012  15961   609    1  20.6
4302  2642   40  1686  2016  16482   630    1  12.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
5867  3391   40   556  2003  14316   546    1  10.6
5869  3391   45   868  2004  15700   599    1  20.6
5868  3391   45  1605  2006  17552   669    1  21.1
5866  3391   45  1325  2007  16805   641    1  22.2
5870  3391   45  1865  2007  18839   719    1  22.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
6111  3503   55   706  2003  15036   573    1  10.6
6106  3503   55   800  2004  15434   589    1  20.6
6113  3503   60   686  2005  14773   563    1  18.9
6109  3503   30  1460  2009  16130   615    1  14.4
6114  3503   35  1498  2009  16226   619    1  14.4
6115  3503   35  1906  2010  17598   671    1  21.7
6108  3503   35  1415  2011  15069   575    1  11.1
6112  3503   35  1487  2012  15426   588    1  20.6
6110  3503   35  1490  2013  13839   527    1  19.4
6107  3503   40  1350  2015  15795   602    1  11.7
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
6368  3655   35   148  2003  12130   462    1  10.6
6369  3655   45  1846  2013  14200   541    1  19.4
6370  3655   45  2803  2013  14910   568    1  19.4
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
7190  4142   35   121  2003  11917   454    1  10.6
7193  4142   35    61  2004  11555   441    1  20.6
7194  4142   20  1590  2004  20045   765    1  20.6
7192  4142   20  1528  2005  19230   733    1  18.9
7195  4142   35   201  2006  12422   474    1  21.1
7191  4142   40  1122  2007  16157   616    1  22.2
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
7301  4196   45   400  2003  13665   521    1  10.6
7295  4196   25   340  2004  13655   521    1  20.6
7296  4196   45  1381  2005  17988   686    1  18.9
7298  4196   40   314  2005  13282   506    1  18.9
7299  4196   45  1841  2007  18700   713    1  22.2
7297  4196   45  1563  2013  13910   530    1  19.4
7300  4196   45  3795  2013  15534   592    1  19.4
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
8319  4835   50  1714  2004  21665   826    1  20.6
8320  4835   50  1628  2004  20453   780    1  20.6
8318  4835   20  2021  2007  19671   750    1  22.2
8314  4835   30  1498  2008  16361   624    1  17.8
8317  4835   30  1404  2008  16099   614    1  17.8
8313  4835   30   376  2010  13439   512    1  21.7
8321  4835   30  1256  2011  14664   559    1  11.1
8315  4835   35  1561  2012  15558   593    1  20.6
8316  4835   30  2520  2012  17483   667    1  20.6
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
8476  4937   50   657  2004  14825   565    1  20.6
8478  4937   25   499  2004  14259   544    1  20.6
8477  4937   50  1246  2006  16266   620    1  21.1
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
8750  5123   30   631  2004  14706   561    1  20.6
8748  5123   45  1047  2005  16307   622    1  18.9
8751  5123   45   234  2007  13079   499    1  22.2
8747  5123   35  2262  2013  14537   554    1  19.4
8749  5123   55  2933  2013  14992   571    1  19.4
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
8873  5210   45  1317  2004  17728   676    1  20.6
8875  5210   40  1048  2005  16308   622    1  18.9
8874  5210   45  1381  2006  16739   638    1  21.1
8871  5210   45  2344  2007  22221   848    1  22.2
8870  5210   50  3117  2013  15104   576    1  19.4
8872  5210   40   381  2013  12207   465    1  19.4
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
9036  5315   55   637  2004  14733   562    1  20.6
9029  5315   55  1398  2006  16791   640    1  21.1
9037  5315   30  2614  2008  23341   890    1  17.8
9038  5315   30  1951  2009  17446   665    1  14.4
9034  5315   60   933  2010  15105   576    1  21.7
9032  5315   30  2169  2012  16714   637    1  20.6
9031  5315   30  2139  2013  14436   550    1  19.4
9033  5315   35  3066  2014  20528   783    1  22.8
9030  5315   35  1003  2015  14828   565    1  11.7
9035  5315   35  2226  2015  18945   723    1  11.7
        Id  Age  Rank  Year   Time  Pace  Sex  Temp
9463  5585   30  1416  2004  18471   705    0  20.6
9462  5585   25  1486  2005  18773   716    0  18.9
9465  5585   35   890  2005  15661   597    0  18.9
9464  5585   35  1251  2007  16553   631    0  22.2
9461  5585   30   406  2009  13102   500    0  14.4
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
10215  6099   35   893  2005  15670   598    1  18.9
10217  6099   40  1615  2008  16758   639    1  17.8
10216  6099   35  2316  2009  19120   729    1  14.4
10220  6099   25  2032  2009  17776   678    1  14.4
10219  6099   40  2555  2011  17640   673    1  11.1
10218  6099   45  1669  2014  16612   634    1  22.8
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
11240  6857   30  1654  2005  21084   804    1  18.9
11238  6857   30  1535  2013  13881   529    1  19.4
11239  6857   35  1622  2013  13981   533    1  19.4
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
11591  7109   30   856  2005  15479   590    1  18.9
11596  7109   30  1650  2006  17723   676    1  21.1
11597  7109   60  1789  2006  18354   700    1  21.1
11594  7109   35  1620  2008  16776   640    1  17.8
11595  7109   30  1896  2009  17307   660    1  14.4
11590  7109   35  2246  2011  16859   643    1  11.1
11593  7109   40  3494  2014  23416   893    1  22.8
11592  7109   35  2278  2015  19186   732    1  11.7
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
11847  7289   35    64  2006  11104   423    1  21.1
11848  7289   40  1184  2009  15342   585    1  14.4
11849  7289   40  1027  2010  15349   585    1  21.7
11845  7289   55  1273  2013  13649   520    1  19.4
11846  7289   35  1084  2013  13428   512    1  19.4
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
12110  7506   40   871  2006  14954   570    1  21.1
12111  7506   45   834  2006  14846   566    0  21.1
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
12974  8174   35   324  2006  13025   497    1  21.1
12975  8174   45   853  2009  14368   548    1  14.4
12971  8174   45   476  2010  13785   526    1  21.7
12972  8174   25   893  2010  15005   572    1  21.7
12973  8174   50  1293  2013  13668   521    1  19.4
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
14385  9294   60  1412  2007  17036   650    1  22.2
14386  9294   30  1810  2007  18557   708    1  22.2
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
14476  9370   50   512  2007  14143   539    1  22.2
14478  9370   25   111  2007  12295   469    1  22.2
14477  9370   50   689  2008  14047   536    1  17.8
14479  9370   50   832  2009  14307   546    1  14.4
         Id  Age  Rank  Year   Time  Pace  Sex  Temp
14926  9721   40   647  2007  14630   558    1  22.2
14924  9721   40  1288  2011  14736   562    1  11.1
14925  9721   40   788  2011  13748   524    1  11.1
14927  9721   45  2447  2012  17348   662    1  20.6
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
15599  10236   45  1241  2007  16528   630    1  22.2
15601  10236   45  1498  2011  15226   581    1  11.1
15602  10236   35  3298  2011  20747   791    1  11.1
15600  10236   50  2283  2012  16967   647    1  20.6
15598  10236   40   535  2014  13899   530    1  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
16125  10638   30   370  2007  13637   520    1  22.2
16124  10638   35   256  2008  12603   481    1  17.8
16126  10638   35   645  2009  13822   527    1  14.4
16129  10638   50  2383  2009  19500   744    1  14.4
16127  10638   50  2020  2011  16345   623    1  11.1
16128  10638   50  3193  2012  19274   735    1  20.6
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
16455  10888   30  2216  2007  21010   801    1  22.2
16457  10888   35  1365  2012  15190   579    1  20.6
16456  10888   45   896  2013  13178   502    1  19.4
16458  10888   30   801  2013  13019   496    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
17732  11916   30  2065  2008  18295   698    1  17.8
17734  11916   30  1267  2011  14688   560    1  11.1
17731  11916   35  2900  2014  19985   762    1  22.8
17733  11916   30   565  2014  14000   534    1  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
18152  12244   35  1210  2008  15602   595    1  17.8
18153  12244   60   326  2008  12911   492    1  17.8
18151  12244   35  1367  2009  15807   603    1  14.4
18155  12244   35  1850  2010  17445   665    1  21.7
18154  12244   40  1111  2011  14348   547    1  11.1
18156  12244   40   436  2014  13606   519    1  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
19220  13104   30   915  2008  14672   560    1  17.8
19219  13104   35  1042  2009  14978   571    1  14.4
19218  13104   35   213  2010  12663   483    1  21.7
19215  13104   35   302  2011  12369   472    1  11.1
19217  13104   45   577  2011  13242   505    1  11.1
19216  13104   35    74  2012  11231   428    1  20.6
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
20187  13850   50  2732  2009  23280   888    0  14.4
20183  13850   55  1816  2010  17338   661    1  21.7
20186  13850   55  2624  2010  20808   794    0  21.7
20185  13850   55  1927  2011  16128   615    1  11.1
20184  13850   55  3248  2012  19465   742    0  20.6
20188  13850   60  2946  2012  18530   707    1  20.6
20181  13850   60  2832  2014  19738   753    1  22.8
20182  13850   55  3182  2014  21116   805    0  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
20317  13944   35  1266  2009  15542   593    1  14.4
20316  13944   40  2335  2012  17072   651    1  20.6
20318  13944   40  2909  2012  18430   703    1  20.6
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
22421  15610   45  1445  2010  16373   624    1  21.7
22419  15610   25  1744  2012  15894   606    1  20.6
22420  15610   45  1082  2012  14637   558    1  20.6
22418  15610   25  3199  2013  15156   578    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
22758  15872   40   962  2010  15190   579    1  21.7
22756  15872   55   201  2015  12456   475    1  11.7
22757  15872   35   637  2015  13889   530    1  11.7
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
22878  15970   25    65  2010  11364   433    1  21.7
22882  15970   30   119  2011  11438   436    1  11.1
22880  15970   40   660  2012  13731   524    1  20.6
22881  15970   30    45  2012  10750   410    1  20.6
22879  15970   30    50  2013  10391   396    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
23918  16803   25  1652  2010  16915   645    1  21.7
23917  16803   40  1851  2013  14205   541    1  19.4
23919  16803   35  2885  2014  19937   760    1  22.8
23921  16803   40  3162  2014  21034   802    1  22.8
23920  16803   45  1190  2015  15372   586    1  11.7
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
24368  17190   45   440  2010  13715   523    1  21.7
24369  17190   35  1504  2012  15470   590    1  20.6
24371  17190   50  1405  2012  15267   582    1  20.6
24370  17190   50  2047  2013  14365   547    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
24768  17499   45  2466  2011  17374   663    1  11.1
24767  17499   30    22  2012  10137   386    1  20.6
24770  17499   45  3224  2012  19393   740    1  20.6
24769  17499   50  2616  2014  19066   727    1  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
25144  17817   30   305  2011  12373   472    1  11.1
25145  17817   30  1454  2011  15145   578    1  11.1
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
25193  17857   30   938  2011  14034   535    0  11.1
25191  17857   30  2586  2014  18965   723    0  22.8
25192  17857   35   843  2014  14750   562    0  22.8
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
25849  18403   45  2631  2011  17859   681    1  11.1
25853  18403   35  1166  2012  14828   565    1  20.6
25850  18403   25   737  2014  14455   551    1  22.8
25852  18403   30  3398  2014  22412   855    1  22.8
25851  18403   40  1999  2015  17791   679    1  11.7
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
26211  18709   25   547  2011  13170   502    1  11.1
26210  18709   30   401  2012  13001   496    1  20.6
26212  18709   50  1453  2012  15365   586    1  20.6
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
26223  18716   55  3102  2011  19565   746    1  11.1
26222  18716   35  2926  2013  14987   571    1  19.4
26224  18716   30  3448  2013  15305   583    1  19.4
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
26254  18740   60  3110  2011  19594   747    1  11.1
26255  18740   40  2848  2011  18450   704    1  11.1
26253  18740   40  2139  2012  16645   635    1  20.6
          Id  Age  Rank  Year   Time  Pace  Sex  Temp
27138  19479   25  3046  2011  19243   734    0  11.1
27136  19479   30  1163  2013  13532   516    0  19.4

## Verify that Age is 'reasonable' given Year and 
Kind of goes hand in hand with Removing duplicate IDs in same year

## Cross-Validate Pace/Time/Rank

In [36]:
years = sorted(set(data['Year']))

for y in years:
    currentYear = data[data['Year']==y].sort_values(by='Rank')

    prevTime = currentYear[:1]['Time'].values[0]
    prevPace = currentYear[:1]['Pace'].values[0]
    prevRank = currentYear[:1]['Rank'].values[0]

    for row in currentYear[1:].iterrows():
        if ((row[1]['Pace'] < prevPace) or (row[1]['Rank'] < prevRank) or (row[1]['Time'] < prevTime)):
            print row[1]['Id'], row[1]['Year']
        prevPace = row[1]['Pace']
        prevRank = row[1]['Rank']
        prevTime = row[1]['Time']

The print statement does not output anything. This validates that the Rank, Time and Pace data is all in order, and that they agree with one another.

## Verify distance of the marathon using Pace, Time

In [37]:
years = sorted(set(data['Year']))

for y in years:
    currentYear = data[data['Year']==y].sort_values(by='Rank')
    
    for row in currentYear.iterrows():
        if not(26.1365 < (row[1]['Time']/row[1]['Pace']) and (row[1]['Time']/row[1]['Pace']) < 26.2927):
            print row[1]['Id'], row[1]['Year']

Nothing is outputted. All distances based on the recorded Time and Pace are found to be between 26.1365 and 26.2927 miles.

##

## Years since Last Race

In [55]:
data['yrsSinceLast'] = 15

In [57]:
def yearsSinceLastRace(runnerId,year,data):
    yrs = 15
    runnerAllYears = data[(data['Id']==runnerId) & (data['Year']<year)].sort_values(by='Year')['Year']
    if( runnerAllYears.size > 0 ):
        yrs = year - max(runnerAllYears)
    return yrs

In [58]:
for i in data.index.tolist():
    runnerId = data.loc[i]['Id']
    year = data.loc[i]['Year']
    #data.set_value(i,'totalNumRaces',count)
    data.set_value(i,'yrsSinceLast',int(yearsSinceLastRace(runnerId,year,data)))

## Add Number of Races
Number of races run since 2003

In [41]:
data['raceCount'] = 0

In [42]:
for i in data.index.tolist():
    runnerId = data.loc[i]['Id']
    count = int(data[data['Id']==runnerId]['Id'].size)
    data.set_value(i,'raceCount',count)

## Add Number of Races Ran to date (prev. count)

In [43]:
data['prevRaceCount'] = 0

In [44]:
for i in data.index.tolist():
    runnerId = data.loc[i]['Id']
    d = data[data['Id']==runnerId]

    if d['Id'].size > 1:
        runnerYear = data.loc[i]['Year']
        prevCount = d[d['Year']<runnerYear]['Year'].size
        data.set_value(i,'prevRaceCount',prevCount)

## Normalize data

### Get max values per category per year

In [46]:
ages = set(data['Age'].values)
ages.remove(0)
agemin = min(ages)
agemax = max(ages)

tempbounds = temp.values()
tempmax = max(tempbounds)
tempmin = min(tempbounds)

yearmax = 2017.
yearmin = 2003.

In [60]:
normBounds = {}
for y in sorted(set(data['Year'])):
    d = data[data['Year']==y]
    rankbounds = [max(d['Rank'].values),min(d['Rank'].values)]
    timebounds = [max(d['Time'].values),min(d['Time'].values)]
    pacebounds = [max(d['Pace'].values),min(d['Pace'].values)]
    normBounds[str(y)] = [rankbounds, timebounds, pacebounds]
    
normBounds['Age'] = [agemax, agemin]
normBounds['Temp'] = [tempmax,tempmin]
normBounds['Year'] = [yearmax,yearmin]

data['nTime'] = 0.
data['nPace'] = 0.
data['nRank'] = 0.
data['nAge']  = 0.
data['nTemp'] = 0.
data['nYear'] = 0.
data['nTotalCount'] = 0.
data['nPrevCount'] = 0.
data['nLast'] = 0.
#    year

In [61]:
for i in data.index.tolist():
    year = str(int(data.loc[i]['Year']))
    rank = data.loc[i]['Rank']
    pace = data.loc[i]['Pace']
    time = data.loc[i]['Time']
    age = data.loc[i]['Age']
    temp = data.loc[i]['Temp']
    
    yearsSinceLast = data.loc[i]['yrsSinceLast']
    raceCount = data.loc[i]['raceCount']
    prevCount = data.loc[i]['prevRaceCount']
    
    data.set_value(i,'nTime',((rank - normBounds[year][0][1])/normBounds[year][0][0]))
    data.set_value(i,'nPace',((time - normBounds[year][1][1])/normBounds[year][1][0]))
    data.set_value(i,'nRank',((pace - normBounds[year][2][1])/normBounds[year][2][0]))
    data.set_value(i,'nTemp',((temp - normBounds['Temp'][1])/normBounds['Temp'][0]))
    data.set_value(i,'nAge',((age - normBounds['Age'][1])/normBounds['Age'][0]))
    data.set_value(i,'nYear',((int(year) - normBounds['Year'][1])/normBounds['Year'][0]))

    data.set_value(i,'nTotalCount',(raceCount/15.))
    data.set_value(i,'nPrevCount',(prevCount/14.))
    data.set_value(i,'nLast',(yearsSinceLast/15.))

### Average of previous race times

In [79]:
data['histTime'] = 0.

In [82]:
for i in data.index.tolist():
    runnerId = data.loc[i]['Id']
    year = data.loc[i]['Year']
    prevYears = data[(data['Id']==runnerId) & (data['Year']<year)]
    
    if( prevYears['Age'].size > 0):
        historicalTimeAvg = prevYears['nTime'].sum()/data.loc[i]['prevRaceCount']
        data.set_value(i,'histTime',historicalTimeAvg)

# Data is cleaned. (once everything above here is done. which is ain't yet)
Save data in .pkl file. Split Y1 and Y2 data sets. Randomize data.

### Average number of marathons per person.

In [84]:
data.to_csv('out.csv')

In [ ]:
f = open('out.pkl', 'w')
pickle.dump(data,f) 
f.close()