In [85]:
import pandas as pd
import numpy as np
data = pd.read_csv('data/data.csv')
#data = pd.DataFrame.from_csv('data/data.csv')

## Remove outlier ages

In [98]:
for i in range (data['Age'].size):
    data.iloc[i]['Age'] = data.iloc[i]['Age'] - data.iloc[i]['Age']%5
    
#data['Age'] = 
#[ data[i]['Age'] - data[i]['Age']%5 for i in range(1,38805) ]
#data['Age']#.apply(np.floor(5))
#%loadpy ./scripts/filename.py

In [97]:
data.iloc[0]

          Id  Age  Rank  Year   Time  Pace  Sex
0          1   30  1263  2016  15300   584    1
1          2   60  2289  2016  18342   701    1
2          3   30  2276  2016  18274   698    0
3          4   35   670  2015  13977   533    1
4          4   35  2390  2016  18810   718    1
5          5   40  2608  2016  19714   753    0
6          5   40  3086  2014  20594   786    0
7          5   35  2455  2010  19744   753    0
8          5   35  2343  2008  19729   753    0
9          5   35  2415  2009  19647   749    0
10         5   35  2002  2007  19572   747    0
11         5   35  3140  2011  19704   752    0
12         5   30  2013  2006  19772   754    0
13         5   40  3329  2012  19715   752    0
14         6   45  1845  2016  16943   647    1
15         7   40   821  2014  14683   560    1
16         7   40   384  2016  12963   495    1
17         8   30   912  2016  14354   548    0
18         9   50  2023  2014  17376   663    1
19         9   50  1637  2012  15671   598    1
20         9   50  1281  2015  15606   595    1
21         9   50  2620  2016  19788   756    1
22        10   25  1934  2016  17173   656    1
23        11   40  3260  2014  21525   821    0
24        11   40  2372  2015  19673   750    0
25        11   40  2055  2016  17507   669    0
26        12   20   954  2016  14443   552    0
27        12   30   588  2016  13575   519    0
28        13   30    21  2016  10713   409    1
29        14   25   934  2016  14392   550    0
...      ...  ...   ...   ...    ...   ...  ...
38774  30388   40  2142  2015  18422   703    1
38775  30389   35  1554  2015  16281   621    1
38776  30390   30   959  2015  14676   560    1
38777  30391   25  2271  2015  19162   731    0
38778  30392   35  2639  2015  22436   856    0
38779  30393   40   717  2015  14079   537    0
38780  30394   25  2323  2015  19425   741    1
38781  30395   45  1117  2015  15175   579    1
38782  30396   40  1939  2015  17589   671    0
38783  30397   35  1854  2015  17241   658    1
38784  30398   30  2729  2015  24296   927    0
38785  30399   35  1012  2015  14855   566    0
38786  30400   35     7  2015   9573   365    0
38787  30401   40   681  2015  13991   534    1
38788  30402   40   191  2015  12415   473    0
38789  30403   40  2242  2015  19010   725    0
38790  30404   40   707  2015  14059   536    1
38791  30405   30   194  2015  12419   474    1
38792  30406   40   964  2015  14697   560    0
38793  30407   35  1213  2015  15422   588    1
38794  30408   45  1376  2015  15855   605    0
38795  30409   55   587  2015  13760   525    1
38796  30410   25  1640  2015  16521   630    0
38797  30411   55  2431  2015  20110   767    0
38798  30412   30  1934  2015  17568   670    0
38799  30413   25  1455  2015  16041   612    1
38800  30414   30   628  2015  13874   529    1
38801  30415   45   511  2015  13494   515    0
38802  30416   35   640  2015  13896   530    1
38803  30417   40    10  2015  10226   390    1

[38804 rows x 7 columns]

In [100]:
data['Age'].size

38804