In [1]:
import pandas as pd
import numpy as np
import time

Y1NB = pd.read_csv('final_predictions/Y1_NB.csv')
Y2   = pd.read_csv('final_predictions/Y2.csv')
Y1LG = pd.read_csv('final_predictions/Y1_LG.csv')

In [2]:
Y1LG.drop([c for c in ['Age','Sex','AvgTime','NumRaces','YrsSinceLast']],inplace=True,axis=1)

In [3]:
Y = Y1LG.copy().set_index('Id')

In [4]:
Y = Y.join(Y1NB.set_index('ID'))
Y['Y22']=-1.
Y['Y2'] = ""

In [5]:
Y2 = Y2.set_index('ID')

In [6]:
y2_indices = Y2.index.tolist()
y_indices  = Y.index.tolist()

In [7]:
for i in y2_indices:
    if i in y_indices:
        Y.set_value(i,'Y22',Y2.loc[i]['Y2'])

In [8]:
all_valid_y2_predictions = Y[Y['Y22']>0]['Y22'].values.tolist()
y2_avg = sum(all_valid_y2_predictions) / len(all_valid_y2_predictions)

In [9]:
invalid_y2 = Y[Y['Y22']==-1].index.tolist()

In [10]:
for i in invalid_y2:
    Y.set_value(i,'Y22',y2_avg)

In [11]:
for i in y_indices:
    t_n = Y.loc[i]['Y22']
    t   = np.round(t_n* (30282.-7942.)+7942.)
    t_s = time.strftime('%H:%M:%S', time.gmtime(t))
    Y.set_value(i,'Y22',t)
    Y.set_value(i,'Y2',t_s)

In [13]:
Y.drop('Y22',inplace=True,axis=1)

In [14]:
Y

       Y1 Log Reg  Y1        Y2
Id
1               0   0  04:31:30
2               1   0  05:36:32
3               0   0  05:18:57
4               1   0  05:30:15
5               1   1  05:47:25
6               0   0  05:05:58
7               1   0  03:59:44
8               0   0  04:16:25
9               1   1  05:54:06
10              0   0  04:58:38
11              1   1  05:12:13
12              0   1  04:56:49
13              0   0  03:18:20
14              0   0  04:14:16
15              1   1  05:28:30
16              1   1  04:28:52
17              0   0  04:26:47
18              1   0  07:09:58
19              0   0  05:33:51
20              0   0  03:23:59
21              0   0  04:25:01
22              0   0  04:34:43
23              0   0  04:39:18
24              0   0  04:02:34
25              0   0  04:23:17
26              0   0  04:52:33
27              0   0  04:39:02
28              0   0  05:33:13
29              0   0  05:30:25
30              1   0  05:53:09
...           ...  ..       ...
30388           0   0  05:26:48
30389           0   0  04:49:54
30390           0   0  04:21:33
30391           0   0  05:30:21
30392           0   0  06:28:05
30393           0   0  04:17:32
30394           0   0  05:34:33
30395           0   0  04:37:46
30396           0   0  05:13:31
30397           0   0  05:05:13
30398           0   0  06:55:00
30399           0   0  04:27:09
30400           0   0  03:02:54
30401           0   0  04:16:08
30402           0   0  03:50:59
30403           0   0  05:36:11
30404           0   0  04:17:13
30405           0   0  03:45:33
30406           0   0  04:27:23
30407           0   0  04:36:12
30408           0   0  04:48:37
30409           0   0  04:20:41
30410           0   0  04:48:14
30411           0   0  06:01:59
30412           0   0  05:07:41
30413           0   0  04:40:34
30414           0   0  04:08:45
30415           0   0  04:10:57
30416           0   0  04:11:52
30417           0   0  03:16:04

[30417 rows x 3 columns]

In [15]:
Y.to_csv('data/predictions.csv')